{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Student History{% endblock %}</h1>
{% endblock %}



{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mb-3">
        <div class="card p-4 shadow mb-3">
            <div class="container text-center">
            <h1>Application History</h1>
            </div>
            <table class="table">
            <tr>
                <th>S.NO.</th>
                <th>Drive Name</th>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Status</th>
            </tr>
            {% for application in past_applications %}
            <tr>
                <td>{{ loop.index }}</td> 
                <td>{{ application.placement_drive.drive_name }}</td>
                <td>{{ application.placement_drive.company.name }}</td>
                <td>{{ application.placement_drive.job_title}}</td>
                <td>{{ application.status }}</td>
            </tr>
            {% endfor %}
            </table>
            <a href="{{url_for('student_dashboard')}}" class="btn btn-secondary btn-sm">Go Back</a>
        </div>
        </div>
  </div>
  </div>

{% endblock %}